/* Styling for trolley containers */
.trolley {
  background-color: #ffffff; /* White background */
  padding: 15px 10px; /* Padding around content */
  border-radius: 5px; /* Rounded corners */
  border-bottom: 1px solid #b3aeae; /* Bottom border */
  box-shadow: 2px 4px #b3aeae; /* Box shadow for a subtle elevation effect */
}

/* Styling for cube elements */
.cube {
  height: 120px; /* Fixed height */
  width: 120px; /* Fixed width */
  position: relative; /* Relative positioning for child elements */
}

/* Styling for tray size within the cube */
.tray-size {
  font-size: 16px; /* Font size */
  font-weight: 600; /* Bold font */
  color: #ffffff; /* Text color (white) */
  position: absolute; /* Absolute positioning inside the cube */
  top: 48%; /* Vertical position (centered) */
  left: 15%; /* Horizontal position (15% from the left) */
  transform: skew(
    -15deg,
    20deg
  ); /* Skewing transform for a tilted appearance */
}

/* Styling for trolley content text */
.trolley-content-text {
  width: 200px; /* Fixed width for content */
  font-size: 14px; /* Font size */
  line-height: 16px; /* Line height for text */
  color: gray; /* Text color (gray) */
  font-weight: 500; /* Semi-bold font */
}

/* Styling for trolley head text */
.trolley-head-text {
  font-weight: 600; /* Bold font */
  font-size: 20px; /* Font size */
  line-height: 22px; /* Line height for text */
}

/* Styling for packed quantity indicator */
.packed-qty {
  height: 40px; /* Fixed height */
  width: 75px; /* Fixed width */
  background-color: red; /* Background color (red) */
  color: black; /* Text color (black) */
  font-weight: 600; /* Bold font */
  text-align: center; /* Centered text alignment */
  line-height: 40px; /* Line height for vertically centered text */
  border-radius: 15px; /* Rounded corners for the indicator */
}

/* Styling for label count within product label */
.label-count {
  height: 20px; /* Fixed height */
  width: 60px; /* Fixed width */
  background-color: rgb(0, 174, 255); /* Background color (blue) */
  color: white; /* Text color (white) */
  font-weight: 600; /* Bold font */
  text-align: center; /* Centered text alignment */
  font-size: 14px; /* Font size */
  line-height: 20px; /* Line height for vertically centered text */
  border-radius: 14px; /* Rounded corners for the label count */
}
